.md-header-nav__button.md-logo {
  padding: 0;
}
.md-header-nav__button.md-logo img,
.md-header-nav__button.md-logo svg {
  width: auto;
  height: 2rem;
}
.md-sidebar--secondary {
  display: none;
}
.md-typeset a {
  color: #0055ff;
}
.md-nav__item .md-nav__link--active {
  color: #0040bf;
}
img[alt$=">"] {
  float: left;
  max-height: 200px;
  height: auto;
  margin: 1px;
}

img[alt$="<"] {
  float: left;
  max-height: 200px;
  height: auto;
  margin: 1px;
}

img[alt$="><"] {
  max-height: 200px;
  height: auto;
  margin: 1px;
}
img[alt$="full-screen"] {
  max-height: 450px;
  height: auto;
  margin: 1px;
}